{% load static %}
{% load crispy_forms_tags %}
{% load pwa %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% progressive_web_app_meta %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TimeLock - Product Expiration Reminder</title>
    <link rel="manifest" href="{% static 'manifest.json' %}">
	<link rel="icon" href="{% static "images/favicon.ico" %}">

	<!-- font -->
	<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
	<!-- end font -->

	<link rel="stylesheet" href="{% static "landing-page/css/bootstrap.css" %}">
	<link rel="stylesheet" href="{% static "landing-page/css/ionicons.min.css" %}">
	<link rel="stylesheet" href="{% static "landing-page/css/magnific-popup.css" %}">
	<link rel="stylesheet" href="{% static "landing-page/css/style.css" %}">
</head>
<body>

	<!-- loader -->
	<div class="fakeLoader"></div>
	<!-- end loader -->

	<!-- navbar -->
	<nav class="navbar navbar-expand-md navbar-light fixed-top">
		<div class="container">
			<a href="{% url "home" %}" class="navbar-brand"><img src="{% static "landing-page/images/logo.png" %}" alt=""></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<i class="icon ion-ios-menu"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="#home">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#about">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#ourTeam">Out Team</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#features">Features</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#contact">Contact us</a>
					</li>
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
						<a class="nav-link" href="{% url "dashboard:home" %}">Dashboard</a>
					</li>
                    {% else %}
                    <li class="nav-item">
						<a class="nav-link" href="{% url "auth-register" %}">Register</a>
					</li>
                    {% endif %}
				</ul>
			</div>
		</div>
	</nav>
	<!-- end navbar -->

	<!-- home intro -->
	<div id="home" class="home-intro">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-12 col-xs-12">
					<div class="content">
						<h2><span class="color-highlight">We're</span> Ready</h2>
						<h2>To <span class="color-highlight">Remind </span>You</h2>
						<p>We help you to remind about expiry dates of all your products. Make your life easy, quick, and tidy with "Product Expiration Reminder"</p>
						<ul>
							<li><a href="{% url "dashboard:home" %}" class="button">Get Started</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12">
					<div class="content-image">
						<img src="{% static "landing-page/images/header-img.png" %}" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end home intro -->

	<!-- about us -->
	<div id="about" class="about">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-6 col-xs-12">
					<div class="content-image">
						<img src="{% static "landing-page/images/1.png" %}" alt="">
					</div>
				</div>
				<div class="col-sm-12 col-md-6 col-xs-12">
					<div class="content">
						<h3>What is "Product Expiration Reminder"??</h3>
						<p>"Product Expiration Reminder" is a website created to remind you about the expiry dates of the products. This website will notify you about the expiry dates of the products, along with few additional details about the day left of the products can be consumed or used, and the text message is sent via email. This website uses Artificial Intelligence to detect a barcode and a product and to classify the product, especially fruit based on Computer Vision (CV). </p>
						<ul>
							<li><span class="circle-list"></span>Barcode Detection</li>
							<li><span class="circle-list"></span>Expiration Date Detection</li>
							<li><span class="circle-list"></span>Fruit Quality Classification</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end about us -->

	<!-- portfolio -->
	<div id="ourTeam" class="portfolio section-bottom-only">
		<div class="container">
			<div class="section-title">
				<h5 class="title-top">Team</h5>
				<h3>Our Team</h3>
			</div>

			<div class="row  d-flex my-auto mx-auto justify-content-center">
				<div class="col-xl-4 col-md-4 col-sm-6 col-xs-12 filtr-item" data-category="3">
					<div class="content-image">
						<a href="https://github.com/danangharissetiawan" class="portfolio-popup">
							<img src="{% static "landing-page/images/aris.jpg" %}" alt="portfolio-image">
							<div class="image-overlay"></div>
							<div class="image-caption">
								<h4>Aris Dwi Wahyudi</h4>
								<span>Modelling & Evaluation</span>
							</div>
						</a>
					</div>
				</div>
				<div class="col-xl-4 col-md-4 col-sm-6 col-xs-12 filtr-item" data-category="1">
					<div class="content-image">
						<a href="javascript:void(0);" class="portfolio-popup">
							<img src="{% static "landing-page/images/arya.jpg" %}" alt="portfolio-image">
							<div class="image-overlay"></div>
							<div class="image-caption">
								<h4>Arya Erlangga</h4>
								<span>Modelling</span>
							</div>
						</a>
					</div>
				</div>
				<div class="col-xl-4 col-md-4 col-sm-6 col-xs-12 filtr-item" data-category="2">
					<div class="content-image">
						<a href="javascript:void(0);" class="portfolio-popup">
							<img src="{% static "landing-page/images/danang.webp" %}" alt="portfolio-image">
							<div class="image-overlay"></div>
							<div class="image-caption">
								<h4>Danang Haris Setiawan</h4>
								<span>Leader</span>
							</div>
						</a>
					</div>
				</div>
				<div class="col-xl-4 col-md-4 col-sm-6 col-xs-12 filtr-item" data-category="3">
					<div class="content-image">
						<a href="javascript:void(0);" class="portfolio-popup">
							<img src="{% static "landing-page/images/dini.jpg" %}" alt="portfolio-image">
							<div class="image-overlay"></div>
							<div class="image-caption">
								<h4>Dini Wulansari</h4>
								<span>Ui/UX & Data Acquisition</span>
							</div>
						</a>
					</div>
				</div>
				<div class="col-xl-4 col-md-4 col-sm-6 col-xs-12 filtr-item" data-category="2">
					<div class="content-image">
						<a href="javascript:void(0);" class="portfolio-popup">
							<img src="{% static "landing-page/images/athifah.JPG" %}" alt="portfolio-image">
							<div class="image-overlay"></div>
							<div class="image-caption">
								<h4>Athifah Setyoaningsih</h4>
								<span>Ui/UX & Data Acquisition</span>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end portfolio -->

	<!-- services -->
	<div id="features" class="services section-bottom-only">
		<div class="section-title">
			<h5 class="title-top">Features</h5>
			<h3>Best Application Features</h3>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-12">
					<div class="content">
						<div class="serv-icon">
							<i class="icon ion-md-code"></i>
							<span class="clone-icon"><i class="icon ion-md-code"></i></span>
						</div>
						<h5>Deep Learning</h5>
						<p>The app uses deep learning to recognize expiration dates and product quality</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="content">
						<div class="serv-icon">
							<i class="icon ion-md-grid"></i>
							<span class="clone-icon"><i class="icon ion-md-grid"></i></span>
						</div>
						<h5>Product Management</h5>
						<p>The application is equipped with a dashboard for product management and categorizing</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="content">
						<div class="serv-icon">
							<i class="icon ion-ios-alarm"></i>
							<span class="clone-icon"><i class="icon ion-ios-alarm"></i></span>
						</div>
						<h5>Notification</h5>
						<p>Email Notifications to remind users of product expiration dates</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end services -->

	<!-- words -->
	<div class="words-section section-bottom-only">
		<div class="container">
			<div class="content">
				<div class="row">
					<div class="col-md-8 col-sm-12 align-self-center">
						<div class="words-wrap">
							<h4>Let's live frugally by remembering </h4>
							<h4>the expiration date</h4>
						</div>
					</div>
					<div class="col-md-4 col-sm-12 align-self-center">
						<div class="button-wrap">
							<button class="button">Contact Us</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end words -->

	<!-- contact -->
	<div id="contact" class="contact section-bottom-only">
		<div class="container">
			<div class="section-title">
				<h5 class="title-top">Contact Us</h5>
				<h3>Let's Join Us</h3>
			</div>
			<div class="box-content">
				<div class="row d-flex justify-content-center">
					<div class="col-md-8 col-sm-12">
						<div class="content-right">
							<form action="" class="contact-form" method="post">
                            {% if message %}
                                <div class="alert alert-success">
                                    {{ message }}
                                </div>
                            {% endif %}
                            {% if error %}
                                <div class="alert alert-danger">
                                    {{ error }}
                                </div>
                            {% endif %}
                            {% csrf_token %}
								<div class="row">
									<div class="col">
										<div id="first-name-field">
											<input type="text" placeholder="Your Name" name="{{ form.name.name }}">
										</div>
                                        {% if form.name.errors %}
                                            <div class="error">
                                                {% for error in form.name.errors %}
                                                    {{ error }}
                                                {% endfor %}
                                            </div>
                                        {% endif %}
									</div>
									<div class="col">
										<div id="email-field">
											<input type="email" placeholder="Email Address" name="{{ form.email.name }}">
										</div>
                                        {% if form.email.errors %}
                                            <div class="error">
                                                {% for error in form.email.errors %}
                                                    {{ error }}
                                                {% endfor %}
                                            </div>
                                        {% endif %}
									</div>
								</div>
								<div class="row">
									<div class="col">
										<div id="subject-field">
											<input type="text" placeholder="Subject" name="{{ form.subject.name }}">
										</div>
                                        {% if form.subject.errors %}
                                            <div class="error">
                                                {% for error in form.subject.errors %}
                                                    {{ error }}
                                                {% endfor %}
                                            </div>
                                        {% endif %}
									</div>
								</div>
								<div class="row">
									<div class="col">
										<div id="message-field">
											<textarea cols="30" rows="5" id="form-message" name="{{ form.message.name }}" placeholder="Message"></textarea>
										</div>
                                        {% if form.message.errors %}
                                            <div class="error">
                                                {% for error in form.message.errors %}
                                                    {{ error }}
                                                {% endfor %}
                                            </div>
                                        {% endif %}
									</div>
								</div>
								<button class="button" type="submit" id="submit" name="submit">Send Message</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end contact -->

	<!-- footer -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="content">
						<div class="brand"><img src="{% static "landing-page/images/logo-dark.png" %}" alt=""></div>
						<p>We help you to remind about expiry dates of all your products.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="content">
						<h5>About</h5>
						<ul>
							<li><a href="javascript:void(0);"><i class="icon ion-ios-contact"></i> About us</a></li>
							<li><a href="javascript:void(0);"><i class="icon ion-ios-chatboxes"></i> Contact</a></li>
							<li><a href="{% url "auth-login" %}"><i class="icon ion-ios-list"></i> Login</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="content">
						<h5>Support</h5>
						<ul>
							<li><a href="javascript:void(0);"><i class="icon ion-ios-headset"></i> timelockfibonacci5@gmail.com</a></li>
							<li><a href="javascript:void(0);"><i class="icon ion-ios-call"></i> +62 3 8376 6284
							</a></li>
							<li><a href="javascript:void(0);"><i class="icon ion-ios-settings"></i> Services</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="content">
						<h5>Follow us</h5>
						<ul class="social">
							<li><a href="javascript:void(0);"><i class="icon ion-logo-facebook"></i> Facebook</a></li>
							<li><a href="javascript:void(0);"><i class="icon ion-logo-twitter"></i> Twitter</a></li>
							<li><a href="javascript:void(0);"><i class="icon ion-logo-instagram"></i> Instagram</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- end footer -->

	<!-- footer bottom -->
	<div class="footer-bottom">
		<span>Copyright © TimeLock</span>
	</div>
	<!-- end footer bottom -->

	<!-- script -->
	<script src="{% static "landing-page/js/jquery-3.5.1.min.js" %}"></script>
	<script src="{% static "landing-page/js/bootstrap.bundle.min.js" %}"></script>
	<script src="{% static "landing-page/js/jquery.filterizr.min.js" %}"></script>
	<script src="{% static "landing-page/js/imagesloaded.pkgd.min.js" %}"></script>
	<script src="{% static "landing-page/js/magnific-popup.min.js" %}"></script>
	<script src="{% static "landing-page/js/contact-form.js" %}"></script>
	<script src="{% static "landing-page/js/main.js" %}"></script>

</body>
</html>