{% extends 'partials/base.html' %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h2 class="card-title">Add Produk Kemasan</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" class="control-label">Category</label>
                                <select class="form-control select2">
                                    <option>Select</option>
                                    <option value="KS">Keju & Susu</option>
                                    <option value="SN">Snack</option>
                                    <option value="KC">Kecantikan</option>
                                    <option value="OB">Obat</option>
                                    <option value="LA">Lainnya</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" class="control-label">Features</label>
                    
                                <!-- <select class="select2 form-control select2-multiple" multiple="multiple" data-placeholder="Choose ...">
                                    <option value="TO">Touchscreen</option>
                                    <option value="CF">Call Function</option>
                                    <option value="NO" selected>Notifications</option>
                                    <option value="FI" selected>Fitness</option>
                                    <option value="OU">Outdoor</option>
                                </select> -->
                            </div>
                        </div>
                    </div>

            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->
<form>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Deskripsi</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary mb-2">Submit</button>
</form>
{% endblock content %}