{% extends 'partials/base.html' %}
{% load static %}


{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Tinymce wysihtml5</h4>
                <p class="card-title-desc">Bootstrap-wysihtml5 is a javascript
                    plugin that makes it easy to create simple, beautiful wysiwyg editors
                    with the help of wysihtml5 and Twitter Bootstrap.</p>
                <img src="{% static 'images/comingsoon-bg.jpg' %}" alt="" style="width: 100px; height: 100px;">

                <form method="post">
                    <textarea id="elm1" name="area"></textarea>
                </form>

            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->
{% endblock content %}