{% load static %}
{% block header %}
		<header id="page-topbar">
			<div class="navbar-header">
				<div class="d-flex">
					<!-- LOGO -->
					<div class="navbar-brand-box">
						<a href="{% url 'dashboard:home' %}" class="logo logo-dark"> <span class="logo-sm">
                                    <img src="{% static 'images/logo-sm-dark.png' %}" alt="logo-sm-dark" height="22">
                                </span>
							<span class="logo-lg">
                                    <img src="{% static 'images/logo-dark.png' %}" alt="logo-dark" height="20">
                                </span>
						</a>
						<a href="{% url 'dashboard:home' %}" class="logo logo-light"> <span class="logo-sm">
                                    <img src="{% static 'images/logo-sm-light.png' %}" alt="logo-sm-light" height="22">
                                </span>
							<span class="logo-lg">
                                    <img src="{% static 'images/logo-light.png' %}" alt="logo-light" height="20">
                                </span>
						</a>
					</div>
					<button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect" id="vertical-menu-btn"> <i class="ri-menu-2-line align-middle"></i>
					</button>

					
				</div>
				<div class="d-flex">
					
                    {% if request.notification %}
					<div class="dropdown d-none d-lg-inline-block ms-1">
						<button type="button" class="btn header-item noti-icon waves-effect" data-toggle="fullscreen"> <i class="ri-fullscreen-line"></i>
						</button>
					</div>
					<div class="dropdown d-inline-block">
						<button type="button" class="btn header-item noti-icon waves-effect" id="page-header-notifications-dropdown" data-bs-toggle="dropdown" aria-expanded="false"> <i class="ri-notification-3-line"></i>
							<span class="noti-dot"></span>
						</button>
						<div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0" aria-labelledby="page-header-notifications-dropdown">
							<div class="p-3">
								<div class="row align-items-center">
									<div class="col">
										<h6 class="m-0"> Notifications </h6>
									</div>
									<div class="col-auto"> <a href="#!" class="small">{{ request.notification.count }}</a>
									</div>
								</div>
							</div>


							<div data-simplebar style="max-height: 230px;">
								{% for notif in request.notification %}
								<a href="{% url "dashboard:list-products" %}" class="text-reset notification-item">
									<div class="d-flex">
										<div class="avatar-xs me-3"> <span class="avatar-title {% if notif.label == 'W' %}bg-warning{% elif notif.label == 'D' %}bg-danger{% endif %} rounded-circle font-size-16">
                                                    <i class="ri-checkbox-circle-line"></i>
                                                </span>
										</div>
										<div class="flex-1">
											<h6 class="mb-1">{{ notif.name }}</h6>
											<div class="font-size-12 text-muted">
												<p class="mb-1">{% if notif.label == 'W' %}Akan kadaluarsa pada tanggal {{ notif.expiry_date }}.{% elif notif.label == 'D' %}Produk sudah kadaluarsa.{% endif %}</p>
												{% if notif.label == "W" %}
                                                <p class="mb-0" key="t-min-ago"><i class="mdi mdi-clock-outline"></i> {{ notif.expiry_date }} </p>
											    {% endif %}
                                            </div>
										</div>
									</div>
								</a>
								{% endfor %}
							</div>

							<div class="p-2 border-top">
								<div class="d-grid">
									<a class="btn btn-sm btn-link font-size-14 text-center" href="{% url "dashboard:calendar" %}"> <i class="mdi mdi-arrow-right-circle me-1"></i> View More..</a>
								</div>
							</div>
						</div>
					</div>
                    {% endif %}

					<div class="dropdown d-inline-block user-dropdown">
						<button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<img class="rounded-circle header-profile-user" src="{% static 'images/users/avatar-2.jpg' %}" alt="Header Avatar"> <span class="d-none d-xl-inline-block ms-1">{{user.username}}</span>
							<i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
						</button>
						<div class="dropdown-menu dropdown-menu-end">
							<a class="dropdown-item" href="{% url "dashboard:profile" %}"><i class="ri-user-line align-middle me-1"></i> Profile</a>
							<a class="dropdown-item" href="{% url 'auth-lock-screen' %}"><i class="ri-lock-unlock-line align-middle me-1"></i> Lock screen</a>
							<div class="dropdown-divider"></div>
							{% if user.is_authenticated %}
                                <a class="dropdown-item" href="{% url 'change_password' %}"><i class="mdi mdi-lock text-muted font-size-16 align-middle me-1"></i> <span class="align-middle" key="t-lock-screen">Change password</span></a>
                                <a class="dropdown-item text-danger" href="{% url 'auth-logout' %}"><i class="ri-shut-down-line align-middle me-1 text-danger"></i> <span class="align-middle" key="t-logout">Logout</span></a>
                                {% else %}
                                <a class="dropdown-item"  href="{% url 'auth-login' %}"><i class="mdi mdi-login-variant text-muted font-size-16 align-middle me-1"></i> <span class="align-middle" key="t-login">Login</span></a>
                                {% endif %}
						</div>
					</div>
					<div class="dropdown d-inline-block">
						<button type="button" class="btn header-item noti-icon right-bar-toggle waves-effect"> <i class="ri-settings-2-line"></i>
						</button>
					</div>
				</div>
			</div>
		</header>
{% endblock header %}