{% load static %}
{% block sidebar %}
		<!-- ========== Left Sidebar Start ========== -->
		<div class="vertical-menu">
			<div data-simplebar class="h-100">
				<!--- Sidemenu -->
				<div id="sidebar-menu">
					<!-- Left Menu Start -->
					<ul class="metismenu list-unstyled" id="side-menu">
						<li class="menu-title" key="t-menu">Menu</li>
						<li>
							<a href="{% url 'dashboard:home' %}" class="waves-effect"> <i class="ri-dashboard-line"></i>
								<!-- <span class="badge rounded-pill bg-success float-end">3</span> -->
								<span key="t-dashboards">Dashboard</span>
							</a>
						</li>
						<li>
							<a href="#" class=" waves-effect"> <i class="ri-calendar-2-line"></i>
								<span key="t-calendar" >Calendar</span>
							</a>
						</li>
						<li>
							<a href="#" class=" waves-effect"> <i class="ri-chat-1-line"></i>
								<span key="t-chat">Chat</span>
							</a>
						</li>
						<li>
							<a href="javascript: void(0);" class="has-arrow waves-effect"> <i class="ri-store-2-line"></i>
								<span key="t-product">Product</span>
							</a>
							<ul class="sub-menu" aria-expanded="false">
								<li><a href="{% url "dashboard:list-products" %}">Daftar Products</a>
								</li>
								<li><a href="#"key="t-edit-product" class="has-arrow waves-effect">Add Product</a>
									<ul class="sub-menu" aria-expanded="false">
										<li><a href="{% url "dashboard:add-product-kemasan" %}" key="t-form-elements" >Kemasan Product</a>
										</li>
										<li><a href="#" key="t-form-upload" >Non Kemasan Product</a>
										</li>

									</ul>
								</li>
							</ul>
                        </li>
                        <li>
                            <a href="javascript: void(0);" class="has-arrow waves-effect"> <i class="ri-mail-send-line"></i>
                                <span key="t-email">Email</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="#" key="t-inbox">Inbox</a>
                                </li>
                                <li><a href="#" key="t-read-email">Read Email</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript: void(0);" class="has-arrow waves-effect"> <i class="ri-database-2-line"></i>
                                <span key="t-data-barcode">Data Barcode</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="{% url "dashboard:list-barcode" %}"key="t-list-barcode">List Barcode</a>
                                </li>
                                <li><a href="{% url "dashboard:add-barcode" %}" key="t-add-barcode">Add Barcode</a>
                                </li>
                            </ul>
                        </li>
					</ul>
				</div>
				<!-- Sidebar -->
			</div>
		</div>
		<!-- Left Sidebar End -->
{% endblock sidebar %}